{% extends 'core/base.html' %}

{% block content %}
    <div class="ig">
        <h2>{{ ig.portfolio_code }} <a class="btn btn-default" href="{% url 'ig_edit' pk=ig.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>
        <div class="date">Created: {{ ig.created_by }} on {{ ig.created_date }}</div>
        <div class="date">Last Updated: {{ ig.updated_by }} on {{ ig.updated_date }}</div>
        {% for ig_opt in ig_opts %}
            <p>
                <h3>{{ ig_opt.strategy }}</h3>
                <h5>Enhanced: {{ ig_opt.is_enhanced }} | Impact: {{ ig_opt.is_impact }}</h5>
                <h4><b>Strategist:</b> {{ ig_opt.strategy.strategist_fk.first_name }} {{ ig_opt.strategy.strategist_fk.last_name }}</h4>
                <h4><b>Product:</b> {{ ig_opt.strategy.product_fk }}</h4>
                <h4><b>Asset Class:</b> {{ ig_opt.strategy.asset_class }}</h4>
                <h4><b>Benchmark:</b> {{ ig_opt.strategy.benchmark_fk }}</h4>
            </p>
        {% endfor %}
    </div>
{% endblock %}