{% load static %}
<html>
    <head>
        <title>Investment Guideline Checklist</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/investmentguideline.css' %}">
    </head>
    <body>

    <div class="page-header">
        {% if user.is_authenticated %}
        <h3>{{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></h3>
            <p class="top-menu">
                <a href="{% url 'ig_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Add</span></a>
            </p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">Investment Guideline Checklist</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>