{% extends 'investmentguidelines/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="jumbotron">
            <h1>Investment Guidelines
                <a class="badge badge-secondary" href="{% url 'ig_new' %}">add</a>
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <table
                id="ig_table"
                data-toggle="table"
                data-search="true"
                data-show-columns="true"
                data-display-toggle="true"
        >
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="portfolioCode" data-sortable="true">Porfolio Code</th>
                    <th data-field="investmentCounselor" data-sortable="true">Investment Counselor</th>
                    <th data-field="createdBy" data-sortable="true">Created By</th>
                    <th data-field="createdDate" data-sortable="true">Created Date</th>
                    <th data-field="updatedBy" data-sortable="true">Updated By</th>
                    <th data-field="updatedDate" data-sortable="true">Updated Date</th>
                </tr>
            </thead>
            <tbody>
            {% for ig in igs %}
                <tr id="tr-id-{{ forloop.counter }}" class="tr-class-{{ forloop.counter }} " >
                    <td id="td-id-{{ forloop.counter }}" class="td-class-{{ forloop.counter }}">{{ ig.pk }}</td>
                    <td>{{ ig.portfolio_code }}</td>
                    <td>{{ ig.investment_counselor }}</td>
                    <td>{{ ig.created_by }}</td>
                    <td>{{ ig.created_date }}</td>
                    <td>{{ ig.updated_by }}</td>
                    <td>{{ ig.updated_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}